@import '../App.scss';

.input {
    display: flex;
    align-items: center;
    width: 42vw;
    height: 44px;
    margin: 10px 0 15px 0px; 
    padding-left: 30px;
    border-radius: 20px;
    border: 2px solid #F2EBEF;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    outline: none;
}
.input::placeholder {
    color: rgba(242, 235, 239, .5);
    font-size: 12px;
  }